.mainContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
}

.userInfoContainer {
  margin-top: 75px;
  width: 95%;
  height: 45vh;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.recipesContainer {
  font-family: 'League Spartan', sans-serif;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  background: #fff;
  height: 100%;
  min-height: 84vh;
  width: 95%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.recipeViewer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 30px 0px;
}

.noData {
  margin: auto;
  margin-top: 20%;
}

.collectionPreview{
  background-color: #cfcfcf;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20%;
  margin-inline: 2%;
  height: 10rem;
  border-radius: 8px;
  font-weight: 500;
  margin-block: 2%;
  font-size: 1.2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
  cursor: pointer;
}

.collectionPreview:hover{
  transform: scale(1.1);
}

.followBtn {
  font-size: 1.05rem;
  margin-bottom: 4%;
  background-color: transparent;
  color: #BF3545;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #BF3545;
  width: 50%;
  transition: 0.2s;
}

.followBtn:hover {
  background-color: #BF3545;
  color: #fff;
}