$darker: #bf3545;
$darker2: #e65364;
$blockColor: #fae0d4;

.newComment{
  display: flex;
  flex-direction: column;
  font-family: "League Spartan", sans-serif;
}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-block-end: 15px;
}

.userInfo{
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  column-gap: 20px;
}

.pfp {
  border-radius: 50%;
  object-fit: cover;
  width: 50px;
  height: 50px;
  aspect-ratio: 1/1;
}

.qualification {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  max-width: 200px;

  svg{
    width: 1em;
    height: 100%;
  }
}

.name {
  font-weight: 500;
  font-size: large;
  color: inherit;
}

.username {
  font-weight: 300;
  font-size: large;
  color: inherit;
}

.numberRating{
  display: none;
}

.sendButton{
    box-sizing: border-box;
    border-radius: 10px;
    min-height: 50px;
    max-height: 50px;
    max-width: 200px;
    justify-self: center;
    align-self: end;
    outline: none;
    border: none;
    font-weight: bold;
    font-size: 1em;
    background-color: $darker2;
    color: $blockColor;
    position: relative;
    padding-inline: 15px;
    cursor: pointer;
    transition: padding-left 0.7s ease;

    &::before{
        content: url('/assets/comment.svg');
        display: inline-block;
        object-fit: contain;
        height: 50px;
        width: 50px;
        position: absolute;
        left: 0.5ch;
        top: 13px;
        opacity: 0;
        transition: opacity 0.7s ease;
    }

    &:hover{
        padding-left: 50px;

        &::before{
            opacity: 1;
        }
    }
}

.commentInput{
  font-family: inherit;
  box-sizing: border-box;
  width: 100%;
  font-size: 1.1rem;
  border-radius: 10px;
  resize: none;
  outline: none;
  border: none;
  box-shadow: 0px 0px 2px 0px rgba(129, 129, 129, 0.75);
  padding-inline: 15px;
  padding-block: calc(15px / (1.68 / 1.68));

  
  &::-webkit-scrollbar-track {
    background: white;
  }

  &::-webkit-scrollbar-thumb {
    background: #b4b4b4;
    box-shadow: inset 0px 0px 0px 4px white; /* color del "margen" */
  }
}

.commentForm{
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}