.searchBar {
    display: flex;
    align-items: center;
}

.SearchbarContainer {
    display: flex;
    font-family: 'League Spartan', sans-serif;;
    font-size: 1rem;
    background-color: #fcf7f8;
    width: 30rem;
    height: 1.5rem;
    border-radius: 15px;
    border: transparent;
    padding-left: 10px;
    padding-top: 2px;
    margin: 0.5rem;
}

.searchBar button {
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
    border: none;
    background-color: #932835;
    border-radius: 50%;
}

.searchBar button:hover {
    box-shadow: 0 0 2px #0000;
    transform: translateY(2px);
}