$blockColor: #FAE0D4;

.container{
    width: 100%;
    margin-block: 1%;
    display: flex;
    flex-direction: column;
}

.pfp{
    height: 50%;
    border-radius: 50%;
    border: 0px solid black;
    cursor: pointer;
}

a{
    display: block;
    width: fit-content;
    height: auto;
    margin: 0;
    padding: 0;
    cursor: default;
    text-decoration: none;
}

a:visited{
    color: inherit;
}

.nameSpan{
    cursor: pointer;
}