@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;400;500;600;700&display=swap');
$blockColor: #FAE0D4;
$darker: #BF3545;
$backgColor: #C1C1C1;

.container{
    margin-block: 1%;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    background-color: $blockColor;
    padding-inline: 2%;
    padding-block: 1.5%;
    width: 96%;
    font-family: 'League Spartan', sans-serif;
    color: $darker;
}

.pfp{
    height: 100%;
    border-radius: 50%;
    border: 0px solid black;
    cursor: pointer;
}

a{
    display: block;
    width: fit-content;
    height: auto;
    margin: 0;
    padding: 0;
    cursor: default;
    text-decoration: none;
}

a:visited{
    color: inherit;
}

.nameSpan{
    cursor: pointer;
    font-weight: bold;
}

.userData{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    justify-content: space-between;
}

.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    column-gap: 5%;
}

.date{
    width: 7.5rem;
}

.utils{
    height: 100%;
    column-gap: 25%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.qualification{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    padding-bottom: 5%;

    svg{
        height: 1.35rem;
        width: 1.35rem;
    }
}

.report{
    svg{
        cursor: pointer;
        height: 1.5rem;
        width: 1.5rem; 
    }
}