.CategoryCardContainer {
  height: 8em;
  width: 16em;
  background-color: #c0c0c0;
  color: #333;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer; 
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;

}

@media screen and (max-width: 600px) {
  .CategoryCardContainer {
    width: 50rem; 
    max-width: none;
    flex-direction: column;
    margin-bottom: 20px;
  }
}

.CategoryCardContainer:hover {
  background-color: #f19c7d;
  color: #FFF;
  transform: scale(1.05); 
}

.CategoryCardContainer h3 {
  font-family: 'Aclonica', sans-serif;
  font-size: 1.2rem;
  transition: color 0.2s ease-in-out; 
}

.CategoryCardContainer > *:not(:last-child) {
  margin-right: 20px;
}
