@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

.CategoryCardContainer {
  height: 8em;
  width: 16em;
  background-color: #eb8171;
  border-radius: 16px;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  cursor: pointer; 
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.IconContainer {
  color: white;
}


.CategoryCardContainer:hover {
  background-color: #f5b78e;
  transform: scale(1.05); 
}

.CategoryCardContainer h3 {
  font-family: 'Aclonica', sans-serif;
  font-size: 1.2rem;
  transition: color 0.2s ease-in-out; 
  color: white;
}

.CategoryCardContainer:hover h3 {
  color: #7c0404;
}

.CategoryCardContainer > *:not(:last-child) {
  margin-right: 20px;
}
