.mainContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fade_in {
  opacity: 1;
  height: auto;
  transition: opacity 1.5s ease-in-out, height 1.5s ease-in-out;
}

.fade_out {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 1.5s ease-in-out, height 1.5s ease-in-out;
}
