
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

.inputContainer {
  font-family: 'League Spartan', sans-serif;
  font-size: 27px;
  width: 18rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.inputContainer label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  user-select: none;
}

.inputContainer label span {
  font-size: 0.5em;
  color: #333;
  font-weight: 500;
  text-transform: capitalize;
}

.inputContainer label input {
  outline: none;
  padding: 5px 10px;
  border: 1px solid #DDD;
  border-radius: 8px;
  font-family: 'League Spartan', sans-serif;
  height: 25px;
}
