@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

.recipeContainer{
    width: 96%;
    height: fit-content;
    background-color: white;
    margin-inline: 1%;
    box-shadow: 0px 2.5px 5px 2px #00000078;
    font-family: Raleway, sans-serif;
    border-radius: 12px;
    padding-left: 1%;
    padding-right: 1%;
    
}

.recipeHeader h1{
    color: black;
    margin: 0;
    padding: 1%;
    width: fit-content;
}

.recipeInfo img{
    border-radius: 12px;
    box-shadow: 0px 2.5px 5px 2px #00000078;
    margin-inline: 1%;
    margin-bottom: 1.5%;
    max-width: 25%;
}

.recipeHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.icons{
    margin-inline: 5%;
}

.recipeData{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.abtRecipe{
    display: flex;
    flex-direction: column;
    width: 75%;
}

.catRecipe{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.catRecipe span{
    margin-inline-start: 6%;
}

.catItem{
    display: flex;
    align-items: center;
}

.ingList{
    width: 92%;
    padding-top: 2%;
    padding-inline: 5%;
}

.descRecipe{
    width: 92%;
    padding-top: 2%;
    padding-inline: 5%;
    padding-bottom: 3%;
    overflow-wrap: break-word;
}