$paddingInfo: 50px;

.RecipeInfoContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  height: 100%;
  align-self: stretch;
  flex-grow: 1;
  overflow: hidden;
}

.RecipeImageContainer{
  grid-column: 1;
}

.RecipeImageContainer .RecipeImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.RecipeDetails {
  max-height: 100%;
  grid-column: 2;
  overflow: auto;
  padding-inline: $paddingInfo;
  padding-block: calc($paddingInfo / (1.68 / 1.68) );
  text-align: justify;
} 

.RecipeHeader{
  h1{
    flex-grow: 100;
    margin: 0;
    margin-inline-end: 30px;
    width: auto;
    display: inline;
    color: #434343;
    font-size: 2.3rem;
    font-family: "Aclonica", sans-serif;
  }
  h2{
    margin: 0;
    width: auto;
    display: inline;
  }
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.AuthorUsername{
  text-decoration: none;
  &:visited{
    color: inherit;
  }
}

.intButton {
  fill: #434343;
  fill-opacity: 0;
  stroke: #434343;
  transition: fill-opacity 0.4s ease;
  cursor: pointer;
}

.intButton:hover {
  fill-opacity: 1;
}

.tools{
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  align-items: center;
  flex-grow: 1;
}

@media only screen and (max-width: 960px){
  .RecipeInfoContainer {
    display: flex;
    grid-template-columns: unset;
    width: 100%;
    overflow: auto;
    flex-direction: column;
  }
  
  .RecipeImageContainer{
    width: 100%;
    height: 31vh;
  }
  
  .RecipeImageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .RecipeDetails {
    overflow: unset;
    text-align: justify;
  } 
}

/*



.RecipeDetails p {
  margin-block-start: 0;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-family: "League Spartan", sans-serif;
  font-weight: 300;
}

.UserInteractionsContainer {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 120px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  flex-wrap: wrap-reverse;
}

.interactions {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
  margin-inline-start: 20px;
}

.interactions h2 {
  color: #434343;
  font-size: 1.3rem;
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
}

.interactions svg {
  width: 1.2em;
  height: 1.2em;
  cursor: pointer;
  transition: transform 0.4s ease, fill-opacity 0.4s ease;
}

.interactions svg:hover {
  transform: scale(1.15);
}

.recipeName h1 {
  margin: 0;
  text-align: right;
}

.RecipeDetails h1 {
  color: #434343;
  margin-block-end: 0;
  font-size: 2.3rem;
  font-family: "Aclonica", sans-serif;
}

.DetailsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10rem;
  padding: 10px;
  align-items: center;
  justify-content: space-evenly;
}

.Block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: thin solid #434343;
  padding: 10px;
  min-width: 18%;
}

.Block h1 {
  font-size: 1.5rem;
}

.Block h2 {
  font-size: 1.5rem;
  font-family: "League Spartan", sans-serif;
  font-weight: 300;
}

.SimilarRecipesContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10rem;
  margin-top: 20px;
  align-items: center;
}

.SimilarRecipesCards {
  height: inherit;
  width: 88%;
}

.RecipeInstructions {
  margin-top: 60px;
}

.RecipeInstructions ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.RecipeInstructions li {
  padding: 10px 20px;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-family: "League Spartan", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  color: #161616;
}

.RecipeInstructions li::before {
  content: "\2022";
  font-size: 1.1rem;
  margin-right: 10px;
  color: #ffa179;
}

.SimilarRecipesImageContainer {
  height: 10rem;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 0 2% 0 0;
}

.SimilarRecipesImageContainer img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.intButton {
  fill: #434343;
  fill-opacity: 0;
  stroke: #434343;
}

.intButton:hover {
  fill-opacity: 1;
}

.addCollModal {
  font-family: "League Spartan", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 5000;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  transition-property: background, opacity;
  transition-duration: 0.4s, 0.4s;
  transition-timing-function: ease, ease;
  opacity: 0;
  overflow: hidden;
}

.showedCollModal {
  opacity: 1;
  background-color: #cdcdcdb9;
}

.showedCollModal .addToCollCard {
  top: 0;
}

.addToCollCard {
  display: flex;
  flex-direction: column;
  transition: top 0.6s ease;
  position: relative;
  box-sizing: border-box;
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 5px 1px rgb(123, 123, 123);
  min-width: 20vw;
  max-width: 35vw;
  top: 20vh;
  padding-inline: 20px;
  padding-block: 20px;
}

.cardModalHeader {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.cardModalHeader h2 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  display: inline-block;
}

.closerModal {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  padding-inline-start: 20px;
  padding-block: 10px;
}

.closerModal svg {
  cursor: pointer;
  width: 2em;
  height: 2em;
  transition: transform 0.4s ease;
}

.closerModal svg:hover {
  transform: scale(1.2);
}

.collPlaceholder {
  display: block;
  text-align: center;
  padding-block: 10px;
}

.collList {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.collItem {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding-block-start: 15px;
}

.collItem:not(:last-child) {
  border-bottom: 1px solid rgb(163, 163, 163);
  padding-block: 15px;
}

.collItemButton {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.collItemButton svg {
  width: 2em;
  height: 2em;
  cursor: pointer;
  fill: #26b664;
  transition: transform 0.4s ease;
}

.collItemButton svg:hover {
  transform: scale(1.2);
} */

.recipePage {
  flex-grow: 1;
  overflow: auto;
  height: 100%;
}
