$oilColor: rgb(211, 155, 0);

.loadingC {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /*   background-color: #aaaaaae5; */
  background-color: rgba(242, 242, 242, 0.952);
}

.loading{
    background-color: rgba(242, 242, 242, 0.952);
    opacity: 1;
    display: flex;
}

.gone {
    animation: gone 0.4s 1 forwards;
}

@keyframes gone {
    0% {  background-color: rgba(242, 242, 242, 0.952);    }
    100% {opacity: 0; display: none;}
}

.spinner {
  width: 30%;
  height: auto;
  position: relative;
}

@media only screen and (max-width: 720px) {
  .spinner {
    width: 60%;
    height: auto;
    position: relative;
  }
}

.pot {
  width: 100%;
  height: auto;
}

.oil1 {
  box-sizing: border-box;
  position: absolute;
  width: 2.5%;
  aspect-ratio: 1/5;
  border-radius: 0 0 10px 10px;
  background-color: $oilColor;
  left: 70%;
  top: 35.3%;
  animation: growOil1 2.5s ease 0s infinite;
}

@keyframes growOil1 {
  0% {
    aspect-ratio: 1/5;
  }
  50% {
    aspect-ratio: 1/8;
  }
  100% {
    aspect-ratio: 1/5;
  }
}

.oil2 {
  box-sizing: border-box;
  position: absolute;
  width: 2.5%;
  aspect-ratio: 1/2;
  border-radius: 0 0 10px 10px;
  background-color: $oilColor;
  left: 66%;
  top: 35.3%;
  animation: growOil2 2.5s ease 0s infinite;
}

@keyframes growOil2 {
  0% {
    aspect-ratio: 1/1;
  }
  50% {
    aspect-ratio: 1/4;
  }
  100% {
    aspect-ratio: 1/1;
  }
}

.oil3 {
  box-sizing: border-box;
  position: absolute;
  width: 2.5%;
  aspect-ratio: 1/2;
  border-radius: 0 0 10px 10px;
  background-color: $oilColor;
  left: 62%;
  top: 35.3%;
  animation: growOil3 2.5s ease 0s infinite;
}

@keyframes growOil3 {
  0% {
    aspect-ratio: 1/2.5;
  }
  50% {
    aspect-ratio: 1/4.5;
  }
  100% {
    aspect-ratio: 1/2.5;
  }
}
