@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

body {
  margin: 0px;
}

:root {
  background-color: #F2F2F2;
  font-family: 'League Spartan', sans-serif;

  ::-webkit-scrollbar {
    width: 20px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #b4b4b4;
    border-radius: 10px;
    box-shadow: inset 0px 0px 0px 4px #F2F2F2; /* color del "margen" */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #8a8a8a;
  }

  scroll-behavior: smooth;
}