$darker: #bf3545;

.adv{
    text-align: center;
    margin-top: 10px;
}

.tooltip{
    display: block;
    text-align: center;
}

.send{
    height: 2.5rem;
    margin-block-start: 20px;
    display: block;
    width: 100%;
    border-radius: 9px;
    outline: none;
    border: none;
    color: white;
    font-weight: 600;
    background-color: $darker;
    transition: transform 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover{
        transform: scale(1.04);
    }
}

.ldsRing {
    display: inline-block;
    width: calc(80px / 3);
    height: calc(80px / 3);
  }
  .ldsRing div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: calc(64px / 3);
    height: calc(64px / 3);
    margin: calc(8px / 3);
    border: calc(8px / 3) solid #fff;
    border-radius: 50%;
    animation: ldsRing 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .ldsRing div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .ldsRing div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .ldsRing div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes ldsRing {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  