@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;400;500;600;700&display=swap');

.SearchPageContainer{
    display: flex;
    flex-direction: row;
    z-index: -1;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
}

.FiltersContainer {
    display: flex;
    flex-direction: column;
    background-color: #dee2e6;
    width: 20%; 
    height: 100vh;
    overflow-y: scroll;
}

.FiltersContainer h1 {
    font-family: 'Aclonica', sans-serif; 
    font-size: 1.6rem;
    margin-top: 90px;
    margin-left: 20px;
    color: #343a40;
}

.FiltersCountryContainer{
    display: flex;
    flex-direction: column;
    height: 25%;
    padding: 0 20px;
}

.FiltersCountryContainerInfo {
    height: 20%;
    font-size: 1rem;   
    display: flex;
    flex-direction: row;
    align-items: center;
}

.FiltersCountryContainerInfo h2 {
    font-family: 'Aclonica', sans-serif; 
    padding: 0;
    margin-left: 10px;
    color: #343a40;
}

.CountryOptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.2em;
    /*margin-top: 15px;*/
    line-height: 2rem;
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    overflow: auto;
    margin-bottom: 0;
}

.CountryOptions button {
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
    width: fit-content;
    max-width: 170px;
    font-size: 1.3rem;
    border-radius: 8px;
    border: none;
    background-color: #e9ecef;
    padding: 3px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.CountryOptions .activeButton {
    background-color: #BF3545;
    color: #F2F2F2;
}

.ResultsContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.ResultsContainer h1 {
    margin-left: 1.8vw;
    font-family: 'League Spartan', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 100px;
    color: #343a40;
    width: fit-content;
    display: inline;
    border-bottom: thin solid #212529;
    width: 100%;
}

.ResultListContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}