@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');

.SearchPageContainer{
    display: flex;
    flex-direction: row;
    flex-grow: 1;   
    overflow: hidden;
}

.FiltersContainer {
    display: flex;
    flex-direction: column;
    background-color: #b34444;
    width: 20%; 
    height: 100vh;
    overflow-y: scroll;
}

.FiltersContainer h1 {
    font-family: 'League Spartan', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 20px;
    color: white;
}

.FiltersCountryContainer{
    display: flex;
    flex-direction: column;
    height: 25%;
    padding: 0 20px;
}

.FiltersCountryContainerInfo {
    height: 20%;
    font-size: 1rem;   
    display: flex;
    flex-direction: row;
    align-items: center;
}

.FiltersCountryContainerInfo h2 {
    font-family: 'Bree Serif', serif;
    padding: 0;
    margin-left: 10px;
    color: white;
}

.CountryOptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.2em;
    /*margin-top: 15px;*/
    line-height: 2rem;
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    overflow: auto;
    margin-bottom: 0;
    color: white;
}

.CountryOptions button {
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
    width: fit-content;
    max-width: 170px;
    font-size: 1.3rem;
    border-radius: 8px;
    border: none;
    background-color: #e9ecef;
    padding: 3px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.CountryOptions .activeButton {
    background-color: #BF3545;
    color: #F2F2F2;
}

.ResultsContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 80%;
    overflow: auto;
    padding-bottom: 2%;
    margin-inline-end: 40px;
}

.ResultsContainer h1 {
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 50px;
    color: #343a40;
    width: fit-content;
    display: inline;
    border-bottom: thin solid #212529;
    width: 100%;
}

.ResultListContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .FiltersContainer {
      display: none; 
    }

    .ResultsContainer h1 {
        box-sizing: border-box;
        font-family: 'League Spartan', sans-serif;
        font-weight: 500;
        font-size: 1.5rem;
        margin-top: 50px;
        color: #343a40;
        width: fit-content;
        display: inline;
        width: 100%;
        padding-left: 10%;
    }
    .ResultsContainer {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: auto;
        padding-bottom: 2%;
        margin-inline-end: 40px;
    }
  	
}