.btnContainer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  height: 5vh;
}

.sectionBtn {
  background-color: white;
  font-family: 'League Spartan', sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  border: none;
  border-bottom: 5px solid transparent;
  transition: 0.2s;
  padding: 1rem 0px;
}

.sectionBtn.selected {
  border-bottom: 5px solid #BF3545;;
}

.sectionBtn.default {
  border-bottom: 5px solid transparent;
  background: white;
}

.sectionBtn.neutral:hover {
  border-bottom: 5px solid #35356e25;
  background: white;
}
