$blockColor: #FAE0D4;
$darker: #BF3545;
$backgColor: #C1C1C1;


.commentBlock{
    display: flex;
    flex-direction: column;
    background-color: $darker;
    border-radius: 10px;
    padding-inline: 20px;
    padding-block: 13px;
    margin-bottom: 1.0rem;
    font-family: 'League Spartan', sans-serif;
}

.title{
    margin-block: 15px;
    h1{
        font-size: 1.63rem;
    }
}

.loadingHolder{
    width: 100%;
    height: 10vh;
    background-color: $blockColor;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.emptyBlock{
    width: 100%;
    height: 10vh;
    background-color: $blockColor;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}